.filter {
    height: 250px;
    max-height: 50%;
    overflow: auto;
}

#restrictions .checkboxfield {
    width: 180px;
    padding-left: 26px;
}

#restrictions .checkboxlabel {
    padding-bottom: 12px;
}


#registrations .win-itemscontainer .win-itembox,
#registrations .win-listview .win-itembox {
    background-color: transparent;
    overflow-x: auto;
}

#registrations .list-header-columns {
    background-color: transparent;
    width: calc(100% - 26px);
    padding-left: 26px;
}

#registrations .list-header {
    overflow-x: auto;
}

/* Styles used for the custom layout */
.listView .registrationLayout {
    position: static;
}
.listView .registrationLayout .win-surface {
    margin-left: 0;
}
#registrations .win-container {
    margin: 0;
}
/*
#registrations .win-item {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#registrations .win-item {
    width: calc(100% - 26px);
    padding-left: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}
 #registrations .row-bkg{
     display:inline-block;
 }


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #registrations .row-bkg {
    display: none;
}
.view-size-bigger #registrations .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #registrations .win-item {
    width: calc(100% - 26px);
    padding-left: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-size-bigger #registrations .list-landscape-only {
    display: inline;
    overflow-x: auto;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #registrations .win-item {
    width: calc(100% - 18px);
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/


.view-size-small #registrations .win-item {
    width: calc(100% - 10px);
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

